.App {
  text-align: center;
}
:root {
  background-image: url("image/galaxy.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1.5rem + 2vmin);
  font-weight: bold;
  /* color: white; */
}

.Landingpage {
  width: 40%;
  margin: auto;
  margin-top: 1rem;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 10px;
  padding: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingButton {
  padding: 0.5rem 3rem;
  margin: 4px 7px;
  border-radius: 5px;
  background-color: white;
  color: black; 
  border: 2px solid #008CBA;
}

.parent{
  /* border: 1px solid black; */
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  padding:0.5rem;
  background-image: url("image/galaxy.jpg");
}

.container {
  margin: 1rem 0.5rem 0 0;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
}

.image{
  cursor: pointer;
}
.Home{
  background-image: url("image/galaxy.jpg");
}
#gmi{
  
  justify-content: center;
}