body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  background-image: url("image/galaxy.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#login {
  color: #ffffff;
  cursor: pointer;
  font-size: x-large;
}

.uk-card-default {
  background-color: rgba(8, 6, 79, 0.552);
  border-radius: 50px;
  color: #666;
  box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.uk-button {
background-color: #e5e5e5;  
color:black;
  margin-top: 5px;
  margin-left: 12px;
  margin-right: 17px;
  margin-bottom: 5px;
  border: none;
  display: inline-block;
  border-radius: 0;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: .875rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;

}
.uk-navbar-container:not(.uk-navbar-transparent) {
  background: none;
}
.uk-container {
  display: flow-root;
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
justify-self: auto;
}
#nav-right {
  display: flex;
  justify-content: end;
}
#book-card{
  background-color: rgba(0, 0, 139, 0.314);
}
#book-title , #book-description, .book-authors, h4{
  color: #e5e5e5;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
font-family: 'Dosis', sans-serif;
font-size: large;
}
#book-button{
  margin-left: auto;
  text-align: center;
}
#search-book {
  padding: auto;
   background-color: #0d0b2184;
   text-align: center;
 }